$main-colour: hsl(30, 100%, 40%);		/* Amber */
$main-secondary: hsl(40, 100%, 40%);	/* Lighter Amber */
$main-tertiary: hsl(22, 70%, 60%);	/* Lighter Amber */
$sub-colour: hsl(245, 50%, 10%);		/* Dark Brown */

$contrast-colour: hsl(245, 100%, 10%);

$highlight-colour: hsl(30, 90%, 65%);
$highlight-contrast: hsl(310, 60%, 15%);

$link-bgcolour: hsl(35, 80%, 50%);

$darker-colour: hsla(0, 0%, 0%, 0.1);

$test-colour: red;


$gradient-start: hsl(35, 88%, 52%);
$gradient-middle: hsl(10, 100%, 59%);
$gradient-end: $sub-colour;		/* Dark Brown */