.board {
	border: 1px solid purple;
}

.tilerow {
	display: block;
	padding: 0;
	margin: 0;
}

.tilecell {
	margin: 0;
	padding: 0;
	display: inline-block;
	width: 25px;
	height: 25px;
	border: 1px solid black;
}